/* Selettore di tag */
h1{
    color:red;
}
p{
    color:blue;
    font-size: 18px;
}
/* Selettore di Classe */
.speciale{
    color:red;
    font-weight: bold;
}
/* Selettore di id */
#importante{
    color:purple;
    background-color: yellow;
    padding:10px;
}
/* Combinatori */
section > p{
    background-color: lightblue;
    padding:10px;
}
/* Adiacente ad H3 (solo il primo) */
h3 + p{
    font-weight: bold;
    color:green;
}
/*Tutti i discendenti */
section p{
    color:red;
}
/*PSEUDOCLASSI */

button {
    background-color:green;
    border-radius: 5px;
    border:none;
    cursor:pointer;
    padding:15px 30px;
    color:white;
    font-size: 16px;
}

button:hover{
    background-color:darkgreen;
    transform:scale(1.1);
}
button:active{
    transform:scale(0.95);
    
}